.homecentre_style{
    margin-top: 6.5vh;
    .slider-frame{
        height:22vh !important;
        border-radius:5px !important;
    }
    .carousel_img{
        width:100%;
        height:22vh;
        border-radius:5px;
    }

}