.hometop_style {
    position: fixed;
    top: 0px;
    // top:0;
    // left: 0;
  width: 100%;
  box-shadow: 0 0 1px rgb(230, 191, 191);
  z-index: 1;
  .spantop {
    font-size: 15px;
    color: #232323;
    font-weight: 700;
  }
  .input_style {
    width: 220px;
    height: 3.5vh;
    border-radius: 42px;
    border: 1px solid #ebebeb;
    background: #f5f5f5;
    &::placeholder {
      font-size: 80%;
      color: #b3b3b3;
      
    }
  }
}
